header {
    margin-top: 2px;
    justify-content: space-between;
    display: flex;
    align-items:center;
    padding: 10px;
    border-bottom: 1px solid rgb(148, 143, 143);
    
}

a {
    text-decoration: none;
    color: inherit;
}

.chuLogo {
    font-size: 40px;
    color: #616366;
}

.logo .ghiChu {
    color: rgb(0, 0, 0);
}

.logo {
    margin-right: auto;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.logo a {
    color: #616366;
    font-size: 24px;
    text-decoration: none;
}

.hinhLogo {
    width: 60px;
}

.iconBars i {
    color: #616366;
    font-size: 40px;
}
.timKiem {
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin-right: 600px;
  
}

.timKiem i{
    padding-right: 10px;
}

.formSearch {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  
}

.input {
  background-color: #dcdbdb;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 10px;
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  width: 400px;
}


.User i {
    font-size: 24px;
    color: #616366;
    padding-right: 30px;
}

/* Dropdown Menu Cài đặt (menu xổ xuống)  */

.settingWrapper {
    position: relative;
    display: inline-block;
    
}

.settingBtn {
    background: none;
    border: none;
    font-size: 24px;
    color: #616366;
    cursor: pointer;
    padding-right: 30px;
}

.dropdownMenu {
    position: absolute;
    right: 20px;
    top: 40px;
    transition: 0.5s;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    min-width: 160px;
    padding: 8px 0;

}

.dropdownMenu div {
    padding: 10px 16px;
    cursor: pointer;
    color: #333;
    font-size: 16px;
}

.dropdownMenu div:hover {
    background-color: #f2f2f2;
}


/* Chỉnh sáng tối */


:global(body.dark-theme) {
    background-color: #050404;
    color: #ffffff;
    transition: 0.5s;
}

:global(body.dark-theme) header {
    background-color: #1e1e1e;
    transition: 0.5s;
    background-color: #1e1e1e;  
}

:global(body.dark-theme) .dropdownMenu {
    background-color: #2c2c2c;

    color: #fff;
    transition: 0.5s;

}

:global(body.dark-theme) .dropdownMenu div:hover {
    background-color: #3a3a3a;
    transition: 0.5s;
}

:global(body.dark-theme) .settingBtn {
    color: white;
    transition: 0.5s;
}

:global(body.dark-theme) .dropdownMenu div {
    color: #ffffff;
    transition: 0.5s;
}

:global(body.dark-theme) .timKiem i {
    color: white;
    transition: 0.5s;
}

:global(body.dark-theme) .User i {
    color: white;
    transition: 0.5s;
}

:global(body.dark-theme) .ghiChu {
    color: white;
    transition: 0.5s;
}

:global(body.dark-theme) .iconBars i {
    color: white;
    transition: 0.5s;
}

:global(body) {
  transition: background-color 0.3s ease, color 0.3s ease;
}

